<!DOCTYPE html>

<html>
    <head>
       <title>{{title}}</title>
       <style>
           .error {
               color:red;
           }
           a{
               color:black;
               font-weight: bold;
           }

           td {
               padding: 0 1% 0 1%;
               width: 1%;
           }
       </style>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <a href='/blog'>Home</a>
                </td>
                <td>
                    <a href="/newpost">New Blog Post</a>
                </td>
                <td> 
                    <a href="/sign-up">Sign Up</a>
                </td>
                <td> 
                    <a href="/login">Log In</a>
                </td>
                <td> 
                    <a href="/logout">Log Out</a>
                </td>
            </tr>
        </table>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category, message in messages %}
            <li class='{{category}}'>{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}
    
    </body>
</html>